@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --root-font-size: 16px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: "Roboto","Noto Sans JP","Noto Sans TC",Helvetica,Arial,sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: theme('colors.gray.light');
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  background-color: theme('colors.black.normal');
}

:focus {
  outline: none;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
}

textarea {
  height: auto;
  min-height: 50px;
  border-radius: 0.3125rem;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

